*{
    margin: 0;
    padding: 0;
    border: solid red 2px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
}

.solution{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
}

.row1, .row2, .row3, .row4{
    display: flex;
    justify-content: center;
}

.num{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

.num:hover{
    background-color: beige;
    cursor: pointer;
}




